{{ define "main" }}

<article class="max-w-prose justify-self-center mx-auto mb-16 px-6 sm:px-4 md:px-0 space-y-2">
    <h1 class="text-2xl font-bold">{{ .Title }}</h1>
    <br>

    {{ .Content }}

    {{ if .Site.Params.cv.general }}
    <div class="relative p-7">
        <div class="block absolute -inset-1 -skew-y-2 bg-primary" aria-hidden="true"></div>
        <div class="flex relative text-primary-content">
            {{ if .Site.Data.general.en.website }}
            <div class="flex-auto w-5/12 text-right pr-4">Website</div>
            <div class="flex-auto w-7/12">
                <a href="https://{{ .Site.Data.general.en.website }}" class="link link-hover">{{ .Site.Data.general.en.website }}</a>
            </div>
            {{ end }}
        </div>

        {{ if .Site.Data.general.en.email }}
        <div class="flex relative text-primary-content">
            <div class="flex-auto w-5/12 text-right pr-4">Email</div>
            <div class="flex-auto w-7/12">
                <a href="mailto:{{ .Site.Data.general.email }}" class="link link-hover">{{ .Site.Data.general.en.email }}</a>
            </div>
            {{ end }}
        </div>

        {{ range $name, $url := .Site.Data.general.en.other_links }}
        <div class="flex relative text-primary-content">
            <div class="flex-auto w-5/12 text-right pr-4">
                {{ $name }}
            </div>
            <div class="flex-auto w-7/12">
                <a href="https://{{ $url }}" class="link link-hover">{{ $url }}</a>
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}
    <br>

    {{ if .Site.Params.cv.education }}
    <div class="divider divider-primary divider-start pt-6 pb-4"><h2 class="text-xl font-bold">Education</h2></div>
    <br>

    {{ if .Site.Data.education.en.current }}
    {{ range sort .Site.Data.education.en.current "date" "desc" }}
    <div class="relative p-3">
        <div class="block absolute -inset-1 skew-y-2 bg-secondary" aria-hidden="true"></div>
        <div class="flex relative text-secondary-content">
            <div class="flex-auto w-5/12 text-right pr-4">
                since {{ time.Format "01/2006" .date }}
            </div>
            <div class="flex-auto w-7/12">
                {{ .name }} ({{ .institution }})

                {{ if .notes }}
                <p>{{ .notes }}.</p>
                {{ end }}
                {{ if .appraisal }}<p>Final grade: {{ .appraisal }}</p>{{ end }}
            </div>
        </div>
        {{ end }}
        {{ end }}

        {{ if .Site.Data.education.en.former }}
        {{ range sort .Site.Data.education.en.former "date" "desc" }}
        <div class="flex relative text-secondary-content">
            <div class="flex-auto w-5/12 text-right pr-4">
                {{ time.Format "01/2006" .date }}
            </div>
            <div class="flex-auto w-7/12">
                {{ .name }} ({{ .institution }})

                {{ if .notes }}
                <p>{{ .notes }}.</p>
                {{ end }}

                {{ if .appraisal }}<p>Final grade: {{ .appraisal }}</p>{{ end }}
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
    {{ end }}
    <br>

    {{ if .Site.Params.cv.work_experience }}
    <div class="divider divider-secondary divider-start pt-6 pb-4"><h2 class="text-xl font-bold">Employment</h2></div>
    <br>

    {{ if .Site.Data.work_experience.en.current }}
    {{ range sort .Site.Data.work_experience.en.current "startdate" "desc" }}
    <div class="relative p-7">
        <div class="block absolute -inset-1 -skew-y-2 bg-primary" aria-hidden="true"></div>
        <div class="flex relative text-primary-content">
        <div class="flex-auto w-5/12 text-right pr-4">
            since {{ time.Format "01/2006" .startdate }}
        </div>
        <div class="flex-auto w-7/12">
            {{ .position }} ({{ .company }})

            {{ if .achievements }}
            <ul class="list-disc list-inside">{{ range .achievements }}<li class="text-justify">{{ . }}</li>{{ end }}</ul>
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ end }}

    {{ if .Site.Data.work_experience.en.former }}
    {{ range sort .Site.Data.work_experience.en.former "startdate" "desc" }}
    <div class="flex">
        <div class="flex-auto w-5/12 text-right pr-4">
            {{ time.Format "01/2006" .startdate }} - {{ time.Format "01/2006" .enddate }}
        </div>
        <div class="flex-auto w-7/12">
            {{ .position }} ({{ .company }})

            {{ if .achievements }}
            <ul class="list-disc list-inside">{{ range .achievements }}<li class="text-justify">{{ . }}</li>{{ end }}</ul>
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ end }}
    </div>
    {{ end }}
    <br>

    {{ if .Site.Params.cv.publications }}
    <div class="divider divider-secondary divider-start pt-6 pb-4"><h2 class="text-xl font-bold">Publications</h2></div>
    <br>

    {{ range .Site.Data.publications }}
    <p>
        {{ $.Scratch.Set "author_name" (split $.Site.Author.name " ") }}

        {{ $author_list := slice }}
        {{ range first 5 .author }}
        {{ $author_list = $author_list | append (slice .family .given) }}
        {{ end }}

        {{ delimit $author_list ", " }}. <b>{{ .title }}</b>. In: {{ index . "container-title" }} {{ .volume }}.{{ .issue }}. DOI: <a href="https://doi.org/{{ .DOI }}" class="link link-hover">{{ .DOI }}</a> ({{ index .issued "date-parts" 0 0 }})
    </p>
    {{ end }}
    {{ end }}
</article>
{{ end }}
