{{ define "main" }}

<article class="max-w-prose justify-self-center mx-auto mb-16 px-6 sm:px-4 md:px-0 space-y-2 mt-8">
    <h1 class="text-4xl font-bold">
        {{ .Title }}
        <span class="ml-2"><a href="{{ .Site.Params.cv.download }}" target="_blank" class="tooltip tooltip-right" data-tip="CV download"><i class="fa-solid fa-file-pdf" aria-hidden="true"></i></a></span>
    </h1>

    <article class="prose">
        {{ .Site.Params.abstract }}

        {{ .Content }}
    </article>

    <div class="divider divider-primary"></div>

    {{ if .Site.Params.cv.general }}
        {{- partial "cv/general.html" . -}}
    {{ end }}

    {{ if .Site.Params.cv.education }}
    <div class="divider divider-primary divider-start pt-6 pb-4"><h2 class="text-xl font-bold">Education</h2></div>
        {{- partial "cv/education.html" . -}}
    {{ end }}

    {{ if .Site.Params.cv.schools_conferences }}
    <div class="divider divider-secondary divider-start pt-6 pb-4"><h2 class="text-xl font-bold">Schools and Conferences attended</h2></div>
        {{- partial "cv/schools_conferences.html" . -}}
    {{ end }}

    {{ if .Site.Params.cv.work_experience }}
    <div class="divider divider-primary divider-start pt-6 pb-4"><h2 class="text-xl font-bold">Employment</h2></div>
        {{- partial "cv/work_experience.html" . -}}
    {{ end }}

    {{ if .Site.Params.cv.technical_skills }}
    <div class="divider divider-secondary divider-start pt-6 pb-4"><h2 class="text-xl font-bold">Technical Skills</h2></div>
        {{- partial "cv/technical_skills.html" . -}}
    {{ end }}

    {{ if .Site.Params.cv.publications }}
    <div class="divider divider-primary divider-start pt-6 pb-4"><h2 class="text-xl font-bold">Publications</h2></div>
    {{- partial "cv/publications.html" . -}}
    {{ end }}
</article>
{{ end }}
