{{ define "main" }}

<article class="max-w-prose justify-self-center mx-auto mb-16 px-6 sm:px-4 md:px-0 space-y-2 mt-8">
    <h1 class="text-4xl font-bold">{{ .Title }}</h1>

    {{ .Content }}

    {{ if .Site.Params.cv.general }}
    {{ if .Site.Data.general.en.website }}
    <div class="flex">
        <div class="w-5/12 sm:w-1/3 text-right mr-4">
            Website
        </div>
        <div class="w-7/12 sm:w-2/3">
            <a href="https://{{ .Site.Data.general.en.website }}" class="link link-hover">{{ .Site.Data.general.en.website }}</a>
        </div>
    </div>
    {{ end }}

    {{ if .Site.Data.general.en.email }}
    <div class="flex">
        <div class="w-5/12 sm:w-1/3 text-right mr-4">
            Email</div>
        <div class="w-7/12 sm:w-2/3">
            <a href="mailto:{{ .Site.Data.general.email }}" class="link link-hover">{{ .Site.Data.general.en.email }}</a>
        </div>
    </div>
    {{ end }}

    {{ range $name, $url := .Site.Data.general.en.other_links }}
    <div class="flex">
        <div class="w-5/12 sm:w-1/3 text-right mr-4">
            {{ $name }}
        </div>
        <div class="w-7/12 sm:w-2/3">
            <a href="https://{{ $url }}" class="link link-hover">{{ $url }}</a>
        </div>
    </div>
    {{ end }}
    {{ end }}

    {{ if .Site.Params.cv.education }}
    <div class="divider divider-primary divider-start pt-6 pb-4"><h2 class="text-xl font-bold">Education</h2></div>

    <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
        {{ if .Site.Data.education.en.current }}
        {{ range sort .Site.Data.education.en.current "date" "desc" }}
        <li>
            <div class="timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-primary"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
            </div>
            <div class="timeline-start md:text-end mb-10">
                <time class="font-mono italic">since {{ time.Format "01/2006" .date }}</time>
                <div class="text-lg font-black">{{ .name }} ({{ .institution }})</div>
                {{ if .notes }}
                <p class="text-justify">{{ .notes }}.</p>
                {{ end }}
                {{ if .appraisal }}<p>Final grade: {{ .appraisal }}</p>{{ end }}
            </div>
            <hr class="bg-primary"/>
        </li>
        {{ end }}
        {{ end }}

        {{ if .Site.Data.work_experience.en.former }}
        {{ $list := (sort .Site.Data.education.en.former "date" "desc") }}
        {{ $len := (len $list) }}

        {{ range $index, $element := $list }}
        <li>
            <hr class="bg-primary"/>
            <div class="timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-primary"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
            </div>
            {{ if math.ModBool $index 2  }}
            <div class="timeline-end mb-10">
            {{ else }}
            <div class="timeline-start mb-10">
            {{ end }}
                <time class="font-mono italic">{{ time.Format "01/2006" .date }}</time>
                <div class="text-lg font-black">
                    {{ .name }} ({{ .institution }})
                </div>
                {{ if .notes }}
                <p class="text-justify">{{ .notes }}.</p>
                {{ end }}

                {{ if .appraisal }}<p>Final grade: {{ .appraisal }}</p>{{ end }}
            </div>

            {{ if ne (add $index 1) $len }}<hr class="bg-primary" />{{ end }}
        </li>
        {{ end }}
        {{ end }}
    </ul>
    {{ end }}

    {{ if .Site.Params.cv.work_experience }}
    <div class="divider divider-secondary divider-start pt-6 pb-4"><h2 class="text-xl font-bold">Employment</h2></div>
    <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
        {{ if .Site.Data.work_experience.en.current }}
        {{ range sort .Site.Data.work_experience.en.current "startdate" "desc" }}
        <li>
            <div class="timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-secondary"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
            </div>
            <div class="timeline-start md:text-end mb-10">
                <time class="font-mono italic">since {{ time.Format "01/2006" .startdate }}</time>
                <div class="text-lg font-black">{{ .position }} ({{ .company }})</div>
                {{ if .achievements }}
                <ul class="list-disc list-inside">{{ range .achievements }}<li>{{ . }}</li>{{ end }}</ul>
                {{ end }}
            </div>
            <hr class="bg-secondary"/>
        </li>
        {{ end }}
        {{ end }}

        {{ if .Site.Data.work_experience.en.former }}
        {{ $list := (sort .Site.Data.work_experience.en.former "date" "desc") }}
        {{ $len := (len $list) }}

        {{ range $index, $element := $list }}
        <li>
            <hr class="bg-secondary"/>
            <div class="timeline-middle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-secondary"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
            </div>
            {{ if math.ModBool $index 2  }}
            <div class="timeline-end mb-10">
            {{ else }}
            <div class="timeline-start mb-10">
            {{ end }}
                <time class="font-mono italic">{{ time.Format "01/2006" .startdate }} - {{ time.Format "01/2006" .enddate }}</time>
                <div class="text-lg font-black">{{ .position }} ({{ .company }})</div>
                {{ if .achievements }}
                <ul class="list-disc list-inside">{{ range .achievements }}<li>{{ . }}</li>{{ end }}</ul>
                {{ end }}
            </div>
            {{ if ne (add $index 1) $len }}<hr class="bg-secondary" />{{ end }}
        </li>
        {{ end }}
        {{ end }}
    </ul>
    {{ end }}

    {{ if .Site.Params.cv.publications }}
    <div class="divider divider-secondary divider-start pt-6 pb-4"><h2 class="text-xl font-bold">Publications</h2></div>

    {{ range .Site.Data.publications }}
    <p>
        {{ $.Scratch.Set "author_name" (split $.Site.Author.name " ") }}

        {{ $author_list := slice }}
        {{ range first 5 .author }}
        {{ $author_list = $author_list | append (slice .family .given) }}
        {{ end }}

        {{ delimit $author_list ", " }}. <b>{{ .title }}</b>. In: {{ index . "container-title" }} {{ .volume }}.{{ .issue }}. DOI: <a href="https://doi.org/{{ .DOI }}" class="link link-hover">{{ .DOI }}</a> ({{ index .issued "date-parts" 0 0 }})
    </p>
    {{ end }}
    {{ end }}
</article>
{{ end }}
