{{ define "main" }}

<article class="max-w-screen-lg mx-auto my-5 px-4 sm:px-6">
    <article class="max-w-prose mx-auto prose pb-2">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </article>

    <div class="divider divider-primary"></div>

    <div class="grid grid-cols-1 gap-4 my-2">
        {{ range $index, $element := .Paginator.Pages }}
        {{ if $element.Params.image }}
        <div class="card md:card-side bg-secondary shadow-xl flex flex-col md:flex-row {{ if math.ModBool $index 2 }}md:flex-row-reverse{{ end }}">
            <figure class="w-full md:w-1/2 p-0 md:p-2"><img class="border-primary border-2 object-cover w-full h-96 rounded-xl" loading="lazy" src="{{ .Permalink }}{{ .Params.image }}" alt="Preview" /></figure>
            <div class="card-body w-full md:w-1/2 text-secondary-content flex flex-col justify-between p-4">
                <div>
                    {{ partial "postmeta.html" $element }}
                </div>
                <p class="line-clamp-3 text-justify mt-2">{{ $element.Summary }}</p>
            </div>
        </div>
        {{ else }}
        <div class="card bg-secondary shadow-xl">
            <div class="card-body w-full text-secondary-content">
                <div>
                    {{ partial "postmeta.html" $element }}
                </div>
                <p class="line-clamp-3 text-justify">{{ $element.Summary }}</p>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>

    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <div class="flex justify-center mt-4">
        <div class="join grid grid-cols-2 gap-2 w-40">
            {{ if .Paginator.HasPrev }}
            <a role="button" class="join-item btn btn-outline btn-primary" href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">Newer</a>
            {{ end }}
            {{ if .Paginator.HasNext }}
            <a role="button" class="join-item btn btn-outline btn-primary" href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">Older</a>
            {{ end }}
        </div>
    </div>
    {{ end }}
</article>
{{ end }}
