{{ define "main" }}

<article class="max-w-screen-lg mx-auto my-5 px-6">
    <article class="max-w-prose mx-auto prose pb-2">
        <h1>{{ .Title }}</h1>

        {{ .Content }}
    </article>

    <div class="divider"></div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 my-2 justify-center">
        {{ range .Paginator.Pages }}
        <div class="h-60 shadow-sm bg-secondary text-secondary-content rounded-2xl">
            <div class="p-4">
                {{ partial "postmeta.html" . }}
                <p class="line-clamp-3 text-justify">{{ .Summary }}</p>
            </div>
        </div>
        {{ end }}
    </div>

    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <div class="join grid grid-cols-2 w-40">
        {{ if .Paginator.HasPrev }}
        <a role="button" class="join-item btn btn-outline" href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">Newer</a>
        {{ end }}
        {{ if .Paginator.HasNext }}
        <a role="button" class="join-item btn btn-outline" href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">Older</a>
        {{ end }}
    </div>
    {{ end }}
</article>
{{ end }}
