{{ define "main" }}

<article class="max-w-screen-lg mx-auto my-5 px-4 sm:px-6">
    <article class="max-w-prose mx-auto prose pb-2">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </article>

    <div class="divider divider-primary"></div>

    <div class="grid grid-cols-1 md:grid-cols-2 grid-flow-row-dense gap-4 my-2">
        {{ range $index, $element := .Paginator.Pages }}
        {{ if $element.Params.image }}
        {{  $image := (.Resources.Get .Params.image).Resize "x384 q100 webp" }}
        <div class="card bg-secondary shadow-xl">
            <div class="card-body w-full text-secondary-content flex flex-col justify-between p-4">
                <div>
                    {{ partial "postmeta.html" $element }}
                </div>
                <figure class="w-full p-0 md:p-2"><img class="border-primary border-2 object-cover w-full h-64 rounded-xl" loading="lazy" src="{{ $image.Permalink }}" alt="Preview" /></figure>
            </div>
        </div>
        {{ else }}
        <div class="card bg-secondary shadow-xl">
            <div class="card-body w-full text-secondary-content p-4">
                <div>
                    {{ partial "postmeta.html" $element }}
                </div>
                <p class="line-clamp-2 text-justify">{{ $element.Summary }}</p>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>

    {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <div class="flex justify-center mt-4">
        <div class="join grid grid-cols-2 gap-2 w-40">
            {{ if .Paginator.HasPrev }}
            <a role="button" class="join-item btn btn-outline btn-primary" href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">Newer</a>
            {{ end }}
            {{ if .Paginator.HasNext }}
            <a role="button" class="join-item btn btn-outline btn-primary" href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">Older</a>
            {{ end }}
        </div>
    </div>
    {{ end }}
</article>
{{ end }}
