<div class="sticky top-0 z-40 w-full backdrop-blur-xl flex-none transition-colors duration-500 lg:z-50 lg:border-b">
    <div class="max-w-7xl mx-auto">
        <div class="py-0.5 border-b mx-20">
            <div class="relative flex items-center">
                <a class="text-sm" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                <div class="relative hidden lg:flex items-center ml-auto">
                    <nav>
                        <ul class="flex space-x-8">
                            {{- partial "navbar_items.html" . -}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
