{{ define "main" }}

<div class="hero min-h-screen bg-center bg-cover" style="background-image: url('{{ .Site.Params.hero }}')">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content p-8 mx-4 backdrop-blur-xl">
        <div class="flex flex-wrap gap-4 justify-center">
            {{ if .Site.Params.profile }}
            <span class="h-80">
                <img class="mask mask-circle object-cover h-80 aspect-square" alt="Profile image" src="{{ .Site.Params.profile }}"/>
            </span>
            {{ end }}
            <div class="max-w-md">
                <h1 class="text-5xl font-bold">{{ .Site.Title }}</h1>
                <p class="py-3">{{ .Site.Params.Abstract }}</p>
                <ul class="menu menu-horizontal bg-transparent rounded-box">
                    {{ if .Site.Params.social.email.link }}<li><a href="mailto:{{ .Site.Params.social.email.link }}" target="_blank" class="tooltip tooltip-right" data-tip="Email" aria-label="Send me an email"><i class="fa-solid fa-envelope fa-2x" aria-hidden="true"></i></a></li>{{ end }}
                    {{ if .Site.Params.social.orcid.link }}<li><a href="{{ .Site.Params.social.orcid.link }}" target="_blank" class="tooltip tooltip-right" data-tip="Orcid" aria-label="Go to my Orcid page"><i class="fa-brands fa-orcid fa-2x" aria-hidden="true"></i></a></li>{{ end }}
                    {{ if .Site.Params.social.github.link }}<li><a href="{{ .Site.Params.social.github.link }}" target="_blank" class="tooltip tooltip-right" data-tip="Github" aria-label="Go to my Github page"><i class="fa-brands fa-github fa-2x" aria-hidden="true"></i></a></li>{{ end }}
                    {{ if .Site.Params.social.linkedin.link }}<li><a href="{{ .Site.Params.social.linkedin.link }}" target="_blank" class="tooltip tooltip-right" data-tip="LinkedIn" aria-label="Go to my LinkedIn"><i class="fa-brands fa-linkedin fa-2x" aria-hidden="true"></i></a></li>{{ end }}
                    {{ if .Site.Params.cv.download }}<li><a href="{{ .Site.Params.cv.download }}" target="_blank" class="tooltip tooltip-right" data-tip="CV" aria-label="Download my CV"><i class="fa-solid fa-file-pdf fa-2x" aria-hidden="true"></i></a></li>{{ end }}
                    {{ if .Site.Params.social.gpg.link }}<li><a href="{{ .Site.Params.social.gpg.link }}" target="_blank" class="tooltip tooltip-right" data-tip="GPG key" aria-label="Download my GPG key"><i class="fa-solid fa-key fa-2x" aria-hidden="true"></i></a></li>{{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>

{{ if in .Site.Params.homepageSections "publications" }}
{{ if or .Site.Data.preprints.items .Site.Data.publications.items }}
<article class="max-w-screen-lg mx-auto my-5 px-6">
    <h2 class="text-3xl font-bold">Recent publications</h2>

    <ol>
        {{ if .Site.Data.preprints.items }}
        {{ range $index, $element := first 3 (sort .Site.Data.preprints.items "date" "desc") }}
        <li class="p-1">
            <ul>
                <li>
                    {{ $len := len $element.creators }}
                    {{ range $author_key, $author := $element.creators  }}
                    {{ if eq $.Site.Params.publicationLastName .lastName }}
                    <span class="font-bold">{{ .firstName }} {{ .lastName }}</span>{{ if ne (add $author_key 1) $len }}, {{ end }}
                    {{ else }}
                    {{ .firstName }} {{ .lastName }}{{ if ne (add $author_key 1) $len }}, {{ end }}
                    {{ end }}
                    {{ end }}
                </li>
                <li>{{ $element.title }}</li>
                <li>
                    <a  class="link" href="https://doi.org/{{ $element.DOI }}" target="_blank">
                        {{ $element.archiveID }}
                    </a>
                </li>
            </ul>
        </li>
        {{ end }}
        {{ end }}


        {{ if .Site.Data.publications.items }}
        {{ range $index, $element := first 3 (sort .Site.Data.publications.items "date" "desc") }}
        <li class="p-1">
            <ul>
                <li>
                    {{ $len := len $element.creators }}
                    {{ range $author_key, $author := $element.creators  }}
                    {{ if eq  $.Site.Params.publicationLastName .lastName }}
                    <span class="font-bold">{{ .firstName }} {{ .lastName }}</span>{{ if ne (add $author_key 1) $len }}, {{ end }}
                    {{ else }}
                    {{ .firstName }} {{ .lastName }}{{ if ne (add $author_key 1) $len }}, {{ end }}
                    {{ end }}
                    {{ end }}
                </li>
                <li>{{ $element.title }}</li>
                <li>
                    <a  class="link" href="https://doi.org/{{ $element.DOI }}" target="_blank">
                        {{ $element.journalAbbreviation }} <span class="font-semibold">{{ $element.volume }}</span>, {{ $element.pages }}
                    </a>
                </li>
            </ul>
        </li>
        {{ end }}
        {{ end }}
    </ol>
</article>
{{ end }}
{{ end }}

{{ if in .Site.Params.homepageSections "posts" }}
<article class="max-w-screen-lg mx-auto my-5 px-6">
    <h2 class="text-3xl font-bold">Recent posts</h2>
    <div class="grid grid-cols-2 grid-flow-row-dense gap-4 my-2">
        {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) 6 }}
        {{ range $index, $element := $paginator.Pages }}
        {{ if $element.Params.image }}
        <div class="card md:card-side bg-secondary col-span-2 shadow-xl flex flex-col md:flex-row {{ if math.ModBool $index 2 }}md:flex-row-reverse{{ end }}">
            <figure class="w-full md:w-1/2 p-0 md:p-2">
                <img class="border-primary border-2 object-cover w-full h-96 rounded-xl" loading="lazy" src="{{ .Permalink }}{{ .Params.image }}" alt="Preview" />
            </figure>
            <div class="card-body w-full md:w-1/2 text-secondary-content flex flex-col justify-between p-4">
                <div>
                    {{ partial "postmeta.html" $element }}
                </div>
                <p class="line-clamp-3 text-justify mt-2">{{ $element.Summary }}</p>
            </div>
        </div>
        {{ else }}
        <div class="card bg-secondary shadow-xl">
            <div class="card-body text-secondary-content">
                <div>
                    {{ partial "postmeta.html" $element }}
                </div>
                <p class="line-clamp-3 text-justify">{{ $element.Summary }}</p>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</article>
{{ end }}

{{ if in .Site.Params.homepageSections "boardgames" }}
<article class="max-w-screen-lg mx-auto my-5 px-6">
    <h2 class="text-3xl">{{ .Site.Params.bgg_title }}</h2>

    <script language="javascript" src="https://boardgamegeek.com/jswidget.php?username={{ .Site.Params.bgg_username}}&numitems=6&text=title&images=medium&show=recentplays&imagesonly=1&imagepos=left&showplaydate=0&domains%5B%5D=boardgame"></script>
    <!-- Hidden classes for Tailwind compilation -->
    <div class="hidden"><div class="BGGwrapper"></div><div class="BGGitem"></div><div class="BGGprovided"><div class="BGGtitle"></div></div></div>
</article>
{{ end }}

{{ end }}
