{{ define "main" }}

<div class="hero min-h-screen bg-center bg-cover" style="background-image: url('{{ .Site.Params.hero }}')">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content p-8 mx-4 backdrop-blur-xl">
        <div class="flex flex-wrap gap-4 justify-center">
            {{ if .Site.Params.profile }}
            <span class="h-80">
                <img class="mask mask-circle h-80" src="{{ .Site.Params.profile }}"/>
            </span>
            {{ end }}
            <div class="max-w-md ">
                <h1 class="text-5xl font-bold">{{ .Site.Title }}</h1>
                <p class="py-3">{{ .Site.Params.Abstract }}</p>
                <ul class="menu menu-horizontal bg-transparent rounded-box">
                    <li><a href="mailto:{{ .Site.Params.social.email.link }}" target="_blank" class="tooltip tooltip-right" data-tip="Email"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="{{ .Site.Params.social.orcid.link }}" target="_blank" class="tooltip tooltip-right" data-tip="Orcid"><i class="fa fa-orcid fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="{{ .Site.Params.social.github.link }}" target="_blank" class="tooltip tooltip-right" data-tip="Github"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="{{ .Site.Params.social.linkedin.link }}" target="_blank" class="tooltip tooltip-right" data-tip="LinkedIn"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
                    <li><a href="{{ .Site.Params.cv.download }}" target="_blank" class="tooltip tooltip-right" data-tip="CV"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<article class="max-w-screen-lg mx-auto my-5 px-6">
    <h2 class="text-3xl">Recent posts</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 grid-flow-row md:grid-flow-row-dense gap-2 my-2">
        {{ $paginator := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) 4 }}
        {{ range $paginator.Pages }}
            {{ if .Params.image }}
            <div class="card md:card-side md:col-span-2 bg-secondary shadow-xl">
                <figure class="h-full py-2 md:pl-2"><img class="h-full max-h-96 rounded-xl" src="{{ .Section }}/{{ .Params.image }}" alt="Preview" /></figure>
                <div class="card-body md:w-1/4 text-secondary-content">
                    <div>
                        {{ partial "postmeta.html" . }}
                    </div>
                    <p class="text-justify">{{ .Summary }}</p>
                </div>
            </div>
            {{ else }}
            <div class="card bg-secondary w-full shadow-xl">
                <div class="card-body text-secondary-content">
                    <div>
                        {{ partial "postmeta.html" . }}
                    </div>
                    <p class="line-clamp-3 text-justify">{{ .Summary }}</p>
                </div>
            </div>
            {{ end }}
            {{ end }}
    </div>
</article>

<article class="max-w-screen-lg mx-auto my-5 px-6">
    <h2 class="text-3xl">{{ .Site.Params.bgg_title }}</h2>

    <script language="javascript" src="https://boardgamegeek.com/jswidget.php?username={{ .Site.Params.bgg_username}}&numitems=4&text=title&images=medium&show=recentplays&imagesonly=1&imagepos=left&showplaydate=1&domains%5B%5D=boardgame"></script>
    <!-- Hidden classes for Tailwind compilation -->
    <div class="hidden"><div class="BGGwrapper"></div><div class="BGGitem"></div><div class="BGGprovided"><div class="BGGtitle"></div></div></div>
</article>

{{ end }}
