{{ if or .Site.Data.preprints.items .Site.Data.publications.items }}
{{ $numberOfArticles := math.Add (len .Site.Data.preprints.items) (len .Site.Data.publications.items) }}

{{ if .Site.Data.preprints.items }}
<h2 class="text-lg font-semibold">Preprints</h2>

<ol>
    {{ range $index, $element := sort .Site.Data.preprints.items "date" "desc" }}
    <li class="p-1">
        <ul>
            <li>
                [{{ math.Sub $numberOfArticles $index }}]
                {{ $len := len $element.creators }}
                {{ range $author_key, $author := $element.creators  }}
                {{ if eq  $.Site.Params.publicationLastName .lastName }}
                <span class="font-bold">{{ .firstName }} {{ .lastName }}</span>{{ if ne (add $author_key 1) $len }}, {{ end }}
                {{ else }}
                {{ .firstName }} {{ .lastName }}{{ if ne (add $author_key 1) $len }}, {{ end }}
                {{ end }}
                {{ end }}
            </li>
            <li>{{ $element.title }}</li>
            <li>
                <a  class="link" href="https://doi.org/{{ $element.DOI }}" target="_blank">
                    {{ $element.archiveID }}
                </a>
            </li>
        </ul>
    </li>
    {{ end }}
</ol>
{{ end }}

{{ if .Site.Data.publications.items }}
<h2 class="text-lg font-semibold">Published</h2>
<ol>
    {{ range $index, $element := sort .Site.Data.publications.items "date" "desc" }}
    <li class="p-1">
        <ul>
            <li>
                [{{ math.Sub $numberOfArticles $index (len $.Site.Data.preprints.items) }}]
                {{ $len := len $element.creators }}
                {{ range $author_key, $author := $element.creators  }}
                {{ if eq  $.Site.Params.publicationLastName .lastName }}
                <span class="font-bold">{{ .firstName }} {{ .lastName }}</span>{{ if ne (add $author_key 1) $len }}, {{ end }}
                {{ else }}
                {{ .firstName }} {{ .lastName }}{{ if ne (add $author_key 1) $len }}, {{ end }}
                {{ end }}
                {{ end }}
            </li>
            <li>{{ $element.title }}</li>
            <li>
                <a  class="link" href="https://doi.org/{{ $element.DOI }}" target="_blank">
                    {{ $element.journalAbbreviation }} <span class="font-semibold">{{ $element.volume }}</span>, {{ $element.pages }}
                </a>
            </li>
        </ul>
    </li>
    {{ end }}
</ol>
{{ end }}
{{ end }}
