<ul>
    {{ if .Site.Data.schools_conferences.en }}
        {{ range .Site.Data.schools_conferences.en }}
        <li class="my-2">
            <ul>
                <li><span class="font-light">{{ time.Format "01/2006" .enddate }}</span></li>
                <li>{{ .location }}: <a class="link" href="https://{{ .url }}" target="_blank">{{ .name }}</a></li>
                {{ if .poster_title }}
                <li>Poster:
                    {{ if .poster }}<a class="link" href="https://{{ .poster }}" target="_blank">{{ .poster_title }}</a>
                    {{ else }}
                    {{ .poster_title }}
                    {{ end }}
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </li>
    {{ end }}
</ul>
